* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #9932cc, #e0b0ff);
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

button {
    cursor: pointer;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, .75);
    outline: none;
    font-size: 2rem;
}
button:hover {
    background-color: rgba(0, 0, 0, .05);
}
.span {
    grid-column: span 2;
}

.equality {
    background-color: #9932cc;
}

.display {
    grid-column: 1/ -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
}

.display > .first-operand {
   color: grey;
   font-size: 2rem;
}

.display > .current-operand {
    word-wrap: break-word;
    word-break: break-all;
    color: white;
    font-size: 2rem;
}